<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.cloud.core.dal.ibatis.CitaMapper">

	<sql id="where">
		<if test="uid != null">
			AND uid = #{uid}   
        </if>
		<if test="paciente != null">
			AND paciente = #{paciente}   
        </if>
		<if test="instalacion != null">
			AND instalacion = #{instalacion}   
        </if>
		<if test="tipo != null">
			AND tipo = #{tipo}   
        </if>
        <if test="estado != null">
			AND estado = #{estado}   
        </if>
		<if test="fecha_desde != null">
			AND fecha &gt;= #{fecha_desde}   
        </if>
		<if test="fecha_hasta != null">
			AND fecha &lt;= #{fecha_hasta}   
        </if>
		<if test="referidor != null">
			AND referidor = #{referidor}   
        </if>
	</sql>
	
	<select id="getNumberOfRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="int">
		select count(1) 
		from susc_citas 
		<where><include refid="where"/></where>
	</select>
	
	<select id="getLastDate" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="long">
		select max(fechafin) 
		from susc_citas 
		<where><include refid="where"/></where>
	</select>
	
	<select id="getPage" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Cita">
		select *
		from susc_citas
		<where><include refid="where"/></where>
		order by fecha
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Cita">
		select * 
		from susc_citas
		<where><include refid="where"/></where>
		order by fecha
	</select>
	
	<select id="getRow" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Cita">
		select * from susc_citas 
		where id = #{id}
	</select>

	<insert id="addRow" parameterType="es.pryades.imedig.cloud.dto.Cita">

		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT nextval('gendat');
		</selectKey>

		insert into susc_citas
		(
			id,
			fecha,
			fechafin,
			uid, 
			paciente,
			instalacion,
			tipo,
			referidor,
			estado
		)
		values
		(
			#{id},
			#{fecha},
			#{fechafin},
			#{uid},
			#{paciente},
			#{instalacion},
			#{tipo},
			#{referidor},
			#{estado}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.imedig.cloud.dto.Cita">
		update susc_citas
		set
			fecha=#{fecha},
			fechafin=#{fechafin},
			uid=#{uid},
			paciente=#{paciente},
			instalacion=#{instalacion},
			tipo=#{tipo},
			referidor=#{referidor},
			estado=#{estado}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.imedig.cloud.dto.Cita">
		delete from susc_citas where id = #{id}
	</update>

</mapper>
