<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.cloud.core.dal.ibatis.DetalleInformeMapper">

	<select id="getNumberOfRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="int">
		select count(1) from susc_informes
		
		<where>
			<if test="centro != null">
				AND centro = #{centro}  
	        </if>
			<if test="desde != null">
				AND fecha &gt;= #{desde}  
	        </if>
			<if test="hasta != null">
				AND fecha &lt;= #{hasta}
	        </if>
			<if test="paciente_id != null">
				AND (paciente_id = #{paciente_id} OR paciente_nombre like '${paciente_id}%')   
	        </if>
			<if test="estudio_id != null">
				AND (estudio_id = #{estudio_id} OR estudio_acceso = #{estudio_id})   
	        </if>
	        <if test="estudio_id != null">
				AND (estudio_id = #{estudio_id} OR estudio_acceso = #{estudio_id})   
	        </if>
	        <if test="estudio_uid != null">
				AND susc_informes.estudio_uid = #{estudio_uid}   
	        </if>
			<if test="modalidad != null">
				AND modalidad = #{modalidad}  
	        </if>
			<if test="informa != null">
				AND informa = #{informa}  
	        </if>
			<if test="refiere != null">
				AND refiere = #{refiere}  
	        </if>
			<if test="icd10cm != null">
				AND icd10cm = #{icd10cm}  
	        </if>
			<if test="estado != null">
				AND estado = #{estado}  
	        </if>
	        <if test="estados != null and !estados.isEmpty()">
				AND estado in <foreach collection="estados" item="item" open="(" close=")" separator=",">#{item}</foreach>  
	        </if>
			<if test="centros != null">
				AND centro in <foreach collection="centros" item="item" open="(" close=")" separator=",">#{item.id}</foreach>
	        </if>
			<if test="list_claves != null">
				<foreach collection="list_claves" item="item" separator=" "> AND claves like '%${item}%'</foreach>
	        </if>
		</where> 
	</select>

	<select id="getPage" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.DetalleInforme">
		
		select
			susc_informes.id as id,
			
		    susc_informes.fecha,
			susc_informes.paciente_id,
			susc_informes.paciente_nombre,
			susc_informes.estudio_id,
			susc_informes.estudio_uid,
			susc_informes.estudio_acceso,
			susc_informes.modalidad,
			susc_informes.claves,
			susc_informes.texto,
			susc_informes.centro,
			susc_informes.informa,
			susc_informes.icd10cm,
			susc_informes.refiere,
			susc_informes.estado,
			susc_informes.protegido,

			susc_centros.nombre as centro_nombre,
			susc_centros.direccion as centro_direccion,
			susc_centros.contactos as centro_contactos,
			susc_centros.imagen as centro_imagen,
			susc_centros.ip as centro_ip,
			susc_centros.puerto as centro_puerto,
			
			informadores.titulo as informa_titulo,
			informadores.nombre as informa_nombre,
			informadores.ape1 as informa_ape1,
			informadores.ape2 as informa_ape2,
						
			referidores.titulo as refiere_titulo,
			referidores.nombre as refiere_nombre,
			referidores.ape1 as refiere_ape1,
			referidores.ape2 as refiere_ape2,
						
			susc_horarios.nombre as horario_nombre,
			susc_monedas.nombre as moneda_nombre,
			susc_monedas.codigo as moneda_codigo,
			susc_monedas.simbolo as moneda_simbolo

		from
			susc_informes

		inner join susc_centros
		on susc_informes.centro = susc_centros.id
		
		left join susc_usuarios informadores
		on susc_informes.informa = informadores.id

		left join susc_usuarios referidores
		on susc_informes.refiere = referidores.id

		inner join susc_horarios
		on susc_centros.horario = susc_horarios.id

		inner join susc_monedas
		on susc_centros.moneda = susc_monedas.id

		<where>
			<if test="centro != null">
				AND centro = #{centro}  
	        </if>
			<if test="desde != null">
				AND fecha &gt;= #{desde}  
	        </if>
			<if test="hasta != null">
				AND fecha &lt;= #{hasta}
	        </if>
			<if test="paciente_id != null">
				AND (paciente_id = #{paciente_id} OR paciente_nombre like '${paciente_id}%')   
	        </if>
			<if test="estudio_id != null">
				AND (estudio_id = #{estudio_id} OR estudio_acceso = #{estudio_id})   
	        </if>
	        <if test="estudio_uid != null">
				AND susc_informes.estudio_uid = #{estudio_uid}   
	        </if>
			<if test="modalidad != null">
				AND modalidad = #{modalidad}  
	        </if>
			<if test="informa != null">
				AND informa = #{informa}  
	        </if>
			<if test="refiere != null">
				AND refiere = #{refiere}  
	        </if>
			<if test="icd10cm != null">
				AND icd10cm = #{icd10cm}  
	        </if>
			<if test="estado != null">
				AND susc_informes.estado = #{estado}  
	        </if>
	        <if test="estados != null and !estados.isEmpty()">
				AND susc_informes.estado in <foreach collection="estados" item="item" open="(" close=")" separator=",">#{item}</foreach>  
	        </if>
			<if test="centros != null">
				AND centro in <foreach collection="centros" item="item" open="(" close=")" separator=",">#{item.id}</foreach>
	        </if>
			<if test="list_claves != null">
				<foreach collection="list_claves" item="item" separator=" "> AND claves like '%${item}%'</foreach>
	        </if>
		</where> 
		
		order by susc_informes.fecha desc
			
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} -1))
	</select>
	
	<select id="getRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.DetalleInforme">
		
		select
			susc_informes.id as id,
			
		    susc_informes.fecha,
			susc_informes.paciente_id,
			susc_informes.paciente_nombre,
			susc_informes.estudio_id,
			susc_informes.estudio_uid,
			susc_informes.estudio_acceso,
			susc_informes.modalidad,
			susc_informes.claves,
			susc_informes.texto,
			susc_informes.centro,
			susc_informes.informa,
			susc_informes.icd10cm,
			susc_informes.refiere,
			susc_informes.estado,
			susc_informes.protegido,

			susc_centros.nombre as centro_nombre,
			susc_centros.direccion as centro_direccion,
			susc_centros.contactos as centro_contactos,
			susc_centros.imagen as centro_imagen,
			susc_centros.ip as centro_ip,
			susc_centros.puerto as centro_puerto,
			
			informadores.titulo as informa_titulo,
			informadores.nombre as informa_nombre,
			informadores.ape1 as informa_ape1,
			informadores.ape2 as informa_ape2,
						
			referidores.titulo as refiere_titulo,
			referidores.nombre as refiere_nombre,
			referidores.ape1 as refiere_ape1,
			referidores.ape2 as refiere_ape2,
						
			susc_horarios.nombre as horario_nombre,
			susc_monedas.nombre as moneda_nombre,
			susc_monedas.codigo as moneda_codigo,
			susc_monedas.simbolo as moneda_simbolo

		from
			susc_informes

		inner join susc_centros
		on susc_informes.centro = susc_centros.id
		
		left join susc_usuarios informadores
		on susc_informes.informa = informadores.id

		left join susc_usuarios referidores
		on susc_informes.refiere = referidores.id

		inner join susc_horarios
		on susc_centros.horario = susc_horarios.id

		inner join susc_monedas
		on susc_centros.moneda = susc_monedas.id
		
		<where>
			<if test="centro != null">
				AND centro = #{centro}  
	        </if>
			<if test="desde != null">
				AND fecha &gt;= #{desde}  
	        </if>
			<if test="hasta != null">
				AND fecha &lt;= #{hasta}
	        </if>
			<if test="paciente_id != null">
				AND (paciente_id = #{paciente_id} OR paciente_nombre like '${paciente_id}%')   
	        </if>
			<if test="estudio_id != null">
				AND (estudio_id = #{estudio_id} OR estudio_acceso = #{estudio_id})   
	        </if>
	        <if test="estudio_uid != null">
				AND susc_informes.estudio_uid = #{estudio_uid}   
	        </if>
			<if test="modalidad != null">
				AND modalidad = #{modalidad}  
	        </if>
			<if test="informa != null">
				AND informa = #{informa}  
	        </if>
			<if test="refiere != null">
				AND refiere = #{refiere}  
	        </if>
			<if test="icd10cm != null">
				AND icd10cm = #{icd10cm}  
	        </if>
			<if test="estado != null">
				AND susc_informes.estado = #{estado}  
	        </if>
	        <if test="estados != null and !estados.isEmpty()">
				AND susc_informes.estado in <foreach collection="estados" item="item" open="(" close=")" separator=",">#{item}</foreach>  
	        </if>
	        
			<if test="centros != null">
				AND centro in <foreach collection="centros" item="item" open="(" close=")" separator=",">#{item.id}</foreach>
	        </if>
			<if test="list_claves != null">
				<foreach collection="list_claves" item="item" separator=" "> AND claves like '%${item}%'</foreach>
	        </if>
		</where> 
		
		order by susc_informes.fecha desc
	</select>

	<select id="getRow" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.DetalleInforme">
		
		select
			susc_informes.id as id,
			
		    susc_informes.fecha,
			susc_informes.paciente_id,
			susc_informes.paciente_nombre,
			susc_informes.estudio_id,
			susc_informes.estudio_uid,
			susc_informes.estudio_acceso,
			susc_informes.modalidad,
			susc_informes.claves,
			susc_informes.texto,
			susc_informes.centro,
			susc_informes.informa,
			susc_informes.icd10cm,
			susc_informes.refiere,
			susc_informes.estado,
			susc_informes.pdf,
			susc_informes.protegido,

			susc_centros.nombre as centro_nombre,
			susc_centros.direccion as centro_direccion,
			susc_centros.contactos as centro_contactos,
			susc_centros.imagen as centro_imagen,
			susc_centros.ip as centro_ip,
			susc_centros.puerto as centro_puerto,
			
			informadores.titulo as informa_titulo,
			informadores.nombre as informa_nombre,
			informadores.ape1 as informa_ape1,
			informadores.ape2 as informa_ape2,
						
			referidores.titulo as refiere_titulo,
			referidores.nombre as refiere_nombre,
			referidores.ape1 as refiere_ape1,
			referidores.ape2 as refiere_ape2,
						
			susc_horarios.nombre as horario_nombre,
			susc_monedas.nombre as moneda_nombre,
			susc_monedas.codigo as moneda_codigo,
			susc_monedas.simbolo as moneda_simbolo

		from
			susc_informes

		inner join susc_centros
		on susc_informes.centro = susc_centros.id
		
		left join susc_usuarios informadores
		on susc_informes.informa = informadores.id

		left join susc_usuarios referidores
		on susc_informes.refiere = referidores.id

		inner join susc_horarios
		on susc_centros.horario = susc_horarios.id

		inner join susc_monedas
		on susc_centros.moneda = susc_monedas.id

		where susc_informes.id = #{id}
	</select>

</mapper>
