<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.cloud.core.dal.ibatis.InstalacionMapper">

	<sql id="where">
	    <if test="nombre != null">
			AND UPPER(nombre) like UPPER('%${nombre}%')   
        </if>
		<if test="modalidad != null">
			AND modalidad = #{modalidad}   
        </if>
        <if test="tipo != null">
			AND tipo = #{tipo}   
        </if>
	</sql>
	
	<select id="getNumberOfRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="int">
		select count(1) 
		from susc_instalaciones 
		<where><include refid="where"/></where>
	</select>
	
	<select id="getPage" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Instalacion">
		select *
		from susc_instalaciones
		<where><include refid="where"/></where>
		order by nombre asc
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Instalacion">
		select *
		from susc_instalaciones
		<where><include refid="where"/></where>
		order by nombre asc
	</select>
	
	<select id="getRow" parameterType="es.pryades.imedig.cloud.dto.Query" resultType="es.pryades.imedig.cloud.dto.Instalacion">
		select * from susc_instalaciones 
		where id = #{id}
	</select>

	<insert id="addRow" parameterType="es.pryades.imedig.cloud.dto.Instalacion">

		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT nextval('gencfg');
		</selectKey>

		insert into susc_instalaciones
		(
			id,
			nombre, 
			aetitle,
			modalidad,
			tipo,
			datos
		)
		values
		(
			#{id},
			#{nombre},
			#{aetitle},
			#{modalidad},
			#{tipo},
			#{datos}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.imedig.cloud.dto.Instalacion">
		update susc_instalaciones
		set
			nombre=#{nombre},
			aetitle=#{aetitle},
			modalidad=#{modalidad},
			tipo = #{tipo},
			horario = #{horario}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.imedig.cloud.dto.Instalacion">
		delete from susc_instalaciones where id = #{id}
	</update>

</mapper>
