 
.v-app {
	font-family: "droidsans";
	font-size: 14px;
}

.v-label {
	font-family: "droidsans";
	font-size: 14px;
}

.v-Notification {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #00B159;
	border: 1px solid transparent;
	
	border-radius: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	box-shadow: 0 0 10px #666;
	max-width: 600px;
	/*
	opacity: 1 !important;
	*/
}

.v-Notification h1 {
	display: block;
}

.v-Notification-warning {
	color: white; 
	background: #F37735;
}

.v-Notification-error {
	color: white;
	background: #D11141;
}

.v-Notification-system {
	color: white;
	background: #D11141;
	border: 5px solid #fff;
}

.v-Notification:hover {
	border-color: #fff;
}

.v-Notification-tray {
	max-width: 300px;
	color: white; 
}
