
.v-label-statisticlabel {
	display: block;
	font-family: "droidsans";
	font-size: 11px;
	text-shadow: none;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	
}

.v-label-statisticvalue {
	display: block;
	font-family: "droidsans";
	font-size: 11px;
}

.v-label-centercard_label {
	color: back;
	display: block;
	font-family: "droidsans";
	font-size: 14px;
	margin-left: 0px;
	height: 36px;
	cursor: pointer;
	text-align: center;
}

.v-label-header2 {
	color: #009900;
	font-family: "droidsans";
	font-size: 16px;
	vertical-align: bottom;
	font-weight: bold;
}

.v-label-suscriptor {
	display: block;
	font-family: "droidsans";
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
	color: #636363;
}

.v-label-cathegory {
	display: block;
	font-size: 11px;
	text-align: left;
	height: auto;
}

.v-label-devicename {
	display: block;
	font-family: "droidsans";
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

.v-label-devicedescription {
	display: block;
	font-family: "droidsans";
	font-size: 11px;
	text-align: right;
	height: auto;
	line-height: 13px;
}

.v-label-reportdescription {
	display: block;
	font-family: "droidsans";
	font-size: 11px;
	text-align: center;
	height: auto;
}

.v-label-deviceperiod {
	display: block;
	font-family: "droidsans";
	font-size: 11px;
	text-align: center;
	height: auto;
	cursor: pointer;
}

.v-label-configcaption {
	display: block;
	font-family: "droidsans";
	font-size: 16px;
	text-transform: lowercase;
	padding-top: 3px;
	height: auto;
	text-align: center;
}

.v-label-lcdnumber {
	font-family: "lcd";
	font-size: 20px;
	color: white;
}

.v-caption-lcdnumber {
	display: block;
	font-family: "lcd";
	font-size: 9px;
	text-align: center;
	color: white;
}

.v-label-lcdum {
	display: block;
	font-family: "lcd";
	font-size: 16px;
	color: white;
}

.v-label-lcddate {
	display: block;
	font-family: "lcd";
	font-size: 18px;
	color: white;
}

.v-label-lcddateyellow {
	font-family: "lcd";
	font-size: 18px;
	color: #C9C85E;
}

.v-label-lcdvariable {
	color: white;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.v-label-login {
	text-align: right;
}

