<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.core.dal.ibatis.DocumentoMapper">

	<select id="getNumberOfRows" parameterType="es.pryades.imedig.core.dto.Query" resultType="int">
		select count(*) from documentos 
		<where> 
			<if test="estudio != null">
				AND estudio = #{estudio}  
	        </if>
			<if test="tipo != null">
				AND tipo = #{tipo}  
	        </if>
		</where>	
	</select>

	<select id="getPage" parameterType="es.pryades.imedig.core.dto.Query" resultType="es.pryades.imedig.core.dto.Documento">
		select
			id,
			nombre, 
			descripcion,
			estudio, 
			tipo
		from 
			documentos
		<where> 
			<if test="estudio != null">
				AND estudio = #{estudio}  
	        </if>
			<if test="tipo != null">
				AND tipo = #{tipo}  
	        </if>
		</where>	
		order by id
		
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>
	
	<select id="getRows" parameterType="es.pryades.imedig.core.dto.Query" resultType="es.pryades.imedig.core.dto.Documento">
		select
			id,
			nombre, 
			descripcion,
			estudio, 
			tipo
		from 
			documentos
		<where> 
			<if test="estudio != null">
				AND estudio = #{estudio}  
	        </if>
			<if test="tipo != null">
				AND tipo = #{tipo}  
	        </if>
		</where>	
		order by id
	</select>
	
	<select id="getRow" parameterType="es.pryades.imedig.core.dto.Documento" resultType="es.pryades.imedig.core.dto.Documento">
		select * from documentos where id = #{id}
	</select>

	<insert id="addRow" parameterType="es.pryades.imedig.core.dto.Documento">

		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT nextval('generador');
		</selectKey>

		insert into documentos 
		( 
			id,
			nombre, 
			descripcion,
			estudio, 
			tipo,
			datos
		)
		values 
		( 
			#{id},
			#{nombre}, 
			#{descripcion},
			#{estudio}, 
			#{tipo},
			#{datos} 
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.imedig.core.dto.Documento">
		update documentos 
		set 
			<if test="datos != null">
				datos=#{datos},
	        </if>
			nombre=#{nombre},
			descripcion=#{descripcion},
			estudio=#{estudio},
			tipo=#{tipo}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.imedig.core.dto.Documento">
		delete from documentos where id = #{id}
	</update>

</mapper>
