<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.core.dal.ibatis.PerfilDerechoMapper">

	<select id="getNumberOfRows" parameterType="es.pryades.imedig.core.dto.Perfil" resultType="int">
		select count(*) from perfiles_derechos where perfil = #{id}
	</select>

	<select id="getPage" parameterType="es.pryades.imedig.core.dto.Perfil" resultType="es.pryades.imedig.core.dto.Derecho">
		select 
			*  
		from 
			derechos
		inner join
			perfiles_derechos on perfiles_derechos.derecho = derechos.id 
		where
			 perfil = #{id}
		order by id
		
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.imedig.core.dto.Perfil" resultType="es.pryades.imedig.core.dto.Derecho">
		select 
			*  
		from 
			derechos
		inner join
			perfiles_derechos on perfiles_derechos.derecho = derechos.id 
		where
			 perfil = #{id}
	</select>

	<select id="getRow" parameterType="es.pryades.imedig.core.dto.PerfilDerecho" resultType="es.pryades.imedig.core.dto.PerfilDerecho">
		select 
			*  
		from 
			perfiles_derechos
		where
			 perfil = #{perfil} and derecho = #{derecho}
	</select>
	
	<insert id="addRow" parameterType="es.pryades.imedig.core.dto.PerfilDerecho">

		insert into perfiles_derechos 
		( 
			perfil,
			derecho
		)
		values 
		( 
			#{perfil}, 
			#{derecho}
		)
	</insert>

	<update id="delRow" parameterType="es.pryades.imedig.core.dto.PerfilDerecho">
		delete from perfiles_derechos where perfil = #{perfil} and derecho = #{derecho}
	</update>

</mapper>
