<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.imedig.core.dal.ibatis.UsuarioMapper">

	<select id="getNumberOfRows" parameterType="es.pryades.imedig.core.dto.Usuario" resultType="int">
		select count(*) from usuarios 
	</select>

	<select id="getPage" parameterType="es.pryades.imedig.core.dto.Usuario" resultType="es.pryades.imedig.core.dto.Usuario">
		select 
			*
		from 
			usuarios
		
		order by id
		
		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>
	
	<select id="getRows" parameterType="es.pryades.imedig.core.dto.Usuario" resultType="es.pryades.imedig.core.dto.Usuario">
		select 
			*
		from 
			usuarios
		
      	order by id
	</select>
	
	<select id="getRow" parameterType="es.pryades.imedig.core.dto.Usuario" resultType="es.pryades.imedig.core.dto.Usuario">
		select * from usuarios 
		<where> 
	        <choose>
	        	<when test="codigo != null">
					codigo = #{codigo} OR email = #{codigo}
	         	</when>
				<otherwise>
					id = #{id}
				</otherwise>
			</choose>
		</where>
	</select>

	<insert id="addRow" parameterType="es.pryades.imedig.core.dto.Usuario">

		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT nextval('generador');
		</selectKey>

		insert into usuarios 
		( 
			id,
			nombre, 
			ape1, 
			ape2,
			contactos,
			codigo, 
			email, 
			pwd,
			cambio,
			intentos,
			perfil,
			estado
		)
		values 
		( 
			#{id},
			#{nombre}, 
			#{ape1}, 
			#{ape2},
			#{contactos},
			#{codigo}, 
			#{email}, 
			#{pwd},
			#{cambio},
			#{intentos},
			#{perfil},
			#{estado}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.imedig.core.dto.Usuario">
		update usuarios 
		set 
			nombre=#{nombre}, 
			ape1=#{ape1}, 
			ape2=#{ape2},
			contactos=#{contactos},
			codigo = #{codigo}, 
			email = #{email}, 
			perfil = #{perfil}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.imedig.core.dto.Usuario">
		delete from usuarios where id = #{id}
	</update>

	<update id="setPassword" parameterType="es.pryades.imedig.core.dto.Usuario">
		update usuarios 
		set 
			pwd = #{pwd},
			cambio = #{cambio},
			intentos = #{intentos},
			estado = #{estado}
		where id = #{id}
	</update>

	<update id="setIntentos" parameterType="es.pryades.imedig.core.dto.Usuario">
		update usuarios 
		set 
			intentos = #{intentos},
			estado = #{estado}
		where id = #{id}
	</update>

	<update id="setEstado" parameterType="es.pryades.imedig.core.dto.Usuario">
		update usuarios 
		set 
			estado = #{estado}
		where id = #{id}
	</update>

	<select id="getRight" parameterType="es.pryades.imedig.core.dto.DerechoQuery" resultType="es.pryades.imedig.core.dto.Derecho">
		select 
			derechos.id as id,
			derechos.codigo as codigo,
			derechos.descripcion as descripcion 
		from 
			derechos
		inner join
			perfiles_derechos on perfiles_derechos.derecho = derechos.id 
		inner join
			perfiles on perfiles.id = perfiles_derechos.perfil
		inner join
			usuarios on usuarios.perfil = perfiles.id 
		where
			 usuarios.id = #{usuario} and derechos.codigo = #{derecho}
	</select>


</mapper>
