@import "addons.scss";
@import "imedig.scss";

.imedig {
  @include addons;
  @include imedig;
}

.v-verticallayout-studypanel{
	padding: 5px;
	
	& .v-label{
		font-size: 10px;
		font-weight: bold;
		color: black;
	}
}

.invisible{
  display: none;
}

.bg_blue{
  background-color: #1BA1E2;
}

.bg_green{
  background-color: #339933;
}

.bg_brown{
  background-color: #A05000;
}

.bg_purple{
  background-color: #A200FF;
}

.bg_red{
  background-color: #E51400;
}

.bg_orange{
  background-color: #F09609;
}

.bg_teal{
  background-color: #00ABA9;
}

.bg_lime{
  background-color: #8CBF26;
}

.bg_pink{
  background-color: #E671B8;
}

.bg_magenta{
  background-color: #0F0097;
}

.bg_yellow{
  background-color: #FFFF00;
}

.bg_light_blue{
  background-color: #97D0FC;
}

.color_blue{
  color: #1BA1E2;
}

.color_green{
  color: #339933;
}

.color_brown{
  color: #A05000;
}

.color_purple{
	color: #A200FF;
}

.color_red{
  color: #E51400;
}

.color_orange{
  color: #F09609;
}

.color_teal{
  color: #00ABA9;
}

.color_lime{
  color: #8CBF26;
}

.color_pink{
  color: #E671B8;
}

.color_magenta{
  color: #0F0097;
}

.color_yellow{
  color: #FFFF00;
}

.color_light_blue{
  color: #97D0FC;
}

.bg_thumnails0{
	background-color: #BABABA;
}

.bg_thumnails1{
	background-color: #ECEDEE;
}

.cursor_pointer{
  cursor: pointer;
}

.toolbox{
  font-size: 26px !important;
}

.toolbox-content{
  margin-top: 0px;
  padding-right: 3px;
  margin-right: 3px;
  margin-left: 2px;
  border-right-style: solid;
  border-right-color: #303739;
  overflow: auto;
}

.selected{
  color: $v-focus-color !important;
}

.v-button-toolbox:focus:after{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.v-button-toolbar{
	font-size: 24px !important;
	line-height: 0.9;
	padding: 12px !important;
	width: 80px;
	margin-bottom: 1px;
	& .v-button-caption{
		font-size: 13px !important;
		font-weight: normal;
	}
	&:focus:after{
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	&:hover {
    	background-color: #1c2123;
	}
}

.v-button-citation{
	border-radius: 14px !important; 
}

.v-button-action{
	border-radius: 13px !important; 
	min-width: 0px !important;
}

.study-thumnails-panel{
	padding: 2px;
	& .v-button{
		font-size: 8px !important;
		width: 14px !important;
		height: 15px !important;
		&:focus:after{
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		} &:hover {
    		background-color: #1c2123;
		}
	} & .v-label{
		color: #283033;
		font-size: 11px;
		font-weight: bold;
		line-height: 1.2;
	} & .v-verticallayout-margin-bottom {
		margin-bottom: 5px;
	}
}

.to-right{
    float: right;
    width: 50% !important;
}

.to-left{
    float: left;
    width: 50% !important;
}

.v-horizontallayout-menu-layout{
	background-color: #283033;
	& .v-button-selected-menu::after{
    	border-bottom: 2px solid #fff!important;
    	border-bottom-color: white!important;
    	//transform: scaleX(0);
    	transition: transform .2s ease-in-out!important;
	}
}

.maincontent{
	width: 100%;
	height: 100%;
}

.fullscreen{
	z-index: 30;
	font-size: 22px;
	float: right;
	& .v-button{
	  z-index: 30;
	  margin: 3px;
	  float: right;
	  background-color: rgba(0, 0, 0, 0.2) !important;
	}
	
	& .v-button:focus:after{
  	   -webkit-box-shadow: none !important;
	   box-shadow: none !important;
	}
}

.zi30{
	z-index: 30;
}

.changeframe{
	z-index: 35;
	font-size: 22px;
	float: left;
	position: relative;
	left: 5px;
	top: 40%;
	& .v-button{
	  margin: 3px;
	  background-color: rgba(0, 0, 0, 0.2) !important;
	}
	& .v-button:focus:after{
  	   -webkit-box-shadow: none !important;
	   box-shadow: none !important;
	}
}

.copyright {
	font-family: Roboto, sans-serif;
	font-size: 13px;
	text-shadow: -1px 1px 1px #020202;
	color: #ecedee;
	border-left: 1px solid #7b7b7b;
	border-top: 1px solid #7b7b7b;
	background: #505a5d;
	padding: 2px 3px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 50;
}

.copyright > a {
	color: #ecedee;
	text-decoration: none
}

.filter-margin {
	margin-bottom: 8px;
	margin-right: 5px;
}

.v-button-borderless:active {
	opacity: 0.5 !important;
	filter: alpha(opacity=50);
}

.v-Notification.info {
	color: #283033;
	font-size: 24px;
	background: #cacecf;
	border: 1px solid black;
}

.imedig .v-calendar-event-month[class*="free"]:before {
	color: white;
}

.imedig .v-calendar-event-all-day[class*="free"] {
	background-color: rgba(255, 255, 255, 0.05);
	color: white;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="free"] {
	color: white;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="free"] .v-calendar-event-content {
	background-color: transparent;
}

.imedig .v-calendar-event-month[class*="cita"]:before {
	color: #ced1d2;
}

.imedig .v-calendar-event-all-day[class*="cita"] {
	background-color: transparent;
	color: #ced1d2;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="cita"] {
	color: #ced1d2;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="cita"] .v-calendar-event-content {
	background-color: #283033;
}

.imedig .v-calendar-event-month[class*="ejecucion"]:before {
	color: #ffffff;
	animation: blinking 0.8s infinite;
}

.imedig .v-calendar-event-all-day[class*="ejecucion"] {
	background-color: transparent;
	color: #ffffff;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="ejecucion"] {
	color: #02925d;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="ejecucion"] .v-calendar-event-content {
	background-color: #283033;
}

.imedig .v-calendar-event-month[class*="finalizada"]:before {
	color: #808080;
}

.imedig .v-calendar-event-all-day[class*="finalizada"] {
	background-color: transparent;
	color: #808080;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="finalizada"] {
	color: #808080;
}

.imedig .v-calendar-week-wrapper .v-calendar-event[class*="finalizada"] .v-calendar-event-content {
	background-color: #283033;
}
