@import "addons.scss";
@import "imedig.scss";

.imedig {
  @include addons;
  @include imedig;
}

.v-verticallayout-studypanel{
	padding: 5px;
	
	& .v-label{
		font-size: 10px;
		font-weight: bold;
		color: black;
	}
}

.invisible{
  display: none;
}

.bg_blue{
  background-color: #1BA1E2;
}

.bg_green{
  background-color: #339933;
}

.bg_brown{
  background-color: #A05000;
}

.bg_purple{
  background-color: #A200FF;
}

.bg_red{
  background-color: #E51400;
}

.bg_orange{
  background-color: #F09609;
}

.bg_teal{
  background-color: #00ABA9;
}

.bg_lime{
  background-color: #8CBF26;
}

.bg_pink{
  background-color: #E671B8;
}

.bg_magenta{
  background-color: #0F0097;
}

.bg_yellow{
  background-color: #FFFF00;
}

.bg_light_blue{
  background-color: #97D0FC;
}

.bg_thumnails0{
	background-color: #BABABA;
}

.bg_thumnails1{
	background-color: #ECEDEE;
}

.cursor_pointer{
  cursor: pointer;
}

.toolbox{
  font-size: 26px !important;
}

.toolbox-content{
  margin-top: 0px;
  padding-right: 3px;
  margin-right: 3px;
  margin-left: 2px;
  border-right-style: solid;
  border-right-color: #303739;
}

.selected{
  color: $v-focus-color !important;
}

.v-button-toolbox:focus:after{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.v-button-toolbar{
	font-size: 24px !important;
	line-height: 0.9;
	& .v-button-caption{
		font-size: 13px !important;
		font-weight: normal;
	}
}

.v-horizontallayout-menu-layout{
	background-color: #283033;
	padding-bottom: 8px !important;
	padding-top: 8px !important; 
}

.content{
	display: contents !important;
}

.maincontent{
	width: 100%;
	height: 100%;
}

.fullscreen{
	z-index: 30;
	font-size: 22px;
	float: right;
	&:focus:after{
  	   -webkit-box-shadow: none !important;
	   box-shadow: none !important;
	}
	& .v-button{
	  z-index: 30;
	  margin: 3px;
	  background-color: rgba(0, 0, 0, 0.2) !important;
	}
}

.copyright {
	font-family: Roboto, sans-serif;
	font-size: 13px;
	text-shadow: -1px 1px 1px #020202;
	color: #ecedee;
	border-left: 1px solid #7b7b7b;
	border-top: 1px solid #7b7b7b;
	background: #505a5d;
	padding: 2px 3px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 50;
}

.copyright > a {
	color: #ecedee;
	text-decoration: none
}
