@import url(../chameleon/legacy-styles.css);

@import url(css/fonts.css);
@import url(css/globals.css);

@import url(css/tabsheets.css);
@import url(css/windows.css);
@import url(css/datefields.css);
@import url(css/buttons.css);
@import url(css/tables.css);
@import url(css/notifications.css);
@import url(css/comboboxes.css);
@import url(css/labels.css);
@import url(css/layouts.css);
@import url(css/indicators.css);
@import url(css/texts.css);
@import url(css/trees.css);
@import url(css/options.css);
@import url(css/listboxes.css);

.v-horizontallayout-banner {
	display:block;
	background: green;
	/*background: url(images/banner.png) 50% 50% repeat-x;*/
	border-bottom: 1px solid white;
	width: 100%;
	height: 80px;
}

.v-horizontallayout-footer {
	display:block;
	border: 1px solid #e3e3e8; 
}

.v-verticallayout-mainlogin {
	background-color: #f7f7f7;
	background: -moz-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -o-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -webkit-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);

	/*background-image: url('images/backgroundimg.png');
	background-repeat: no-repeat;
	background-position: bottom left;*/
}

.v-verticallayout-mainapp {
	background-color: #f7f7f7;
	background: -moz-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -o-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
	background: -webkit-linear-gradient(#d7d8d9, #FFF, #FFF, #FFF);
}

.v-verticallayout-loginform {
	border-radius: 6px; 
	border: 1px solid #28632b;
 }

.v-tooltip {
	/*font-family: "droidsans"*/
	font-size: 18px;
	color: #222;
	background-color: #f6f6f6; 
	border: 1px solid #8cc948;
	border-radius: 2px;
}

.v-tooltip-text {
	padding: 2px 4px;
}

.v-label-header {
	font-size: 18px;
	color: #1db259;
	background-color: #28632b; 
	/*font-family: "droidsans"*/
	padding-left: 10px;
	display: block;
}

.v-label-header2 {
    color: #009900;
	/*font-family: "droidsans"*/
	font-size: 18px;
    vertical-align: bottom;
}

.v-horizontallayout-header {
	background-color: #28632b; 
}

.v-button-login {
	padding:1px;
	border: none;
	background: transparent;
	height: 40px;
    border-radius: 6px; 
}

.v-button-login .v-button-wrap{
	padding: 10px;
	background: #1db259;
    border-color: #000000;
    text-shadow: none;
    box-shadow: none;
    color: white;
    border-radius: 6px; 
}

.v-button-login:hover .v-button-wrap{
    background: #6bc890;
}

.v-button-login:focus .v-button-wrap {
	border-color: #1db259;
    box-shadow: 0 0 2px #1db259;
	
}

.imedigModalfieldSet fieldset
{
 	border: 1px solid #BABFC0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.imedigModalfieldSet fieldset legend
{
 	margin-left: 5px;
}
